@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-slate-800 text-slate-50;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-action,
.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
